.header::before{
    content: "";
    display: block;
    background: #2F4AD3;
    filter: blur(2px);
    width: 100%;
    height: 3px;
    position: absolute;
    top: 8.7%;
}

.header::after{
    content: "";
    display: block;
    background: #2F4AD3;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 8.7%;
    z-index: -1;
}

.main{
    margin-top: 3.76%;
}

.slogan{
    max-width: 54.37%;
}

.staff{
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.staff__title{
    display: inline-block;
    margin-bottom: 42px;
}

.staff__img:not(:last-child){
    margin-right: 45px;
}